.RichEdit {
  @apply space-y-12;
  h3 {
    @apply relative pl-6 text-xl font-bold;
    &:before {
      @apply content-[''] absolute top-1/2 left-0 translate-y-[-40%] w-4 h-4 bg-green-400;
    }
  }

  h4 {
    @apply relative pl-6 text-lg font-bold;
    &:before {
      @apply content-[''] absolute top-1/2 left-0 -translate-y-1/2 w-4 h-0.5 bg-green-400;
    }
  }

  h5 {
    @apply text-base font-bold;
  }

  a {
    @apply break-all text-red-400 hover:opacity-50 duration-300;
  }

  blockquote {
    @apply pl-4 text-gray-500 border-l-4 border-gray-300;
  }

  ul {
    li {
      @apply relative pl-8 before:absolute before:top-0 before:left-2 before:content-['・'];
    }
  }

  ol {
    counter-reset: num;

    li {
      @apply relative pl-11 before:absolute before:top-0 before:left-0 before:font-english;

      &::before {
        counter-increment: num;
        content: '0' counter(num) '.';
      }
    }
  }

  code {
    @apply bg-black text-white py-0.5 px-2 leading-none text-sm;
  }

  pre {
    @apply bg-black text-white rounded-xl px-5 text-sm overflow-scroll;
  }
}
