.RichEdit {
  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply underline break-all;
  }

  blockquote {
    @apply pl-4 text-gray-500 border-l-4 border-gray-300;
  }

  ul {
    li {
      @apply relative pl-8 before:absolute before:top-0 before:left-2 before:content-['・'];
    }
  }

  ol {
    counter-reset: num;

    li {
      @apply relative pl-11 before:absolute before:top-0 before:left-0 before:font-english;

      &::before {
        counter-increment: num;
        content: '0' counter(num) '.';
      }
    }
  }
}
